

#datatable{ // Data Tables
    th,td{
        vertical-align: middle;
    }
}

input:disabled,select:disabled{
    background-color: #f5f6f8 !important;
}

.action{
    padding: 4px 7px 3px;
}

.form-control.parsley-error ~ .select2 .select2-selection {
    border: 1px solid #f46a6a;
}

.form-control ~ .select2.select2-container--open .select2-selection {
    color: #495057;
    background-color: #fff;
    border-color: #b1bbc4;
    outline: 0;
    box-shadow: none;
}

.card-title{
    margin-bottom:1rem!important;
}

.dashboard-file-link{
    div{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-left: 15px;
    }
}
